{% extends "base.j2" %}


{% block pageContent %}
    {% block abstract %}
        {{ super() }}
    {% endblock %}

    {% block introduction %}
        {{ super() }}
    {% endblock %}

    {% block status %}
        {{ super() }}
    {% endblock %}

    {% block license %}
        {{ super() }}
    {% endblock %}

    {% block conformance %}
        {{ super() }}
    {% endblock %}

    {% block terminology %}
        <section id="specterminology">
            <h2>Terminology</h2>
            <p>
                The Terminology section defining the key concepts and terms used in the vocabulary.
            </p>


            {% block usedPrefixesGen %}
                {{ super() }}
            {% endblock %}
        </section>
    {% endblock %}

    {% block overview %}
        {{ super() }}
    {% endblock %}

    {% block mainEntities %}
        {{ super() }}
    {% endblock %}

    {% block supportiveEntities %}
        {{ super() }}
    {% endblock %}

    {% block datatypes %}
        {{ super() }}
    {% endblock %}

    {% block usages %}
        <section class="informative">
            <h2>Usage Guidelines - change </h2>
            
            <h3>Basic Usage</h3>
            <p>To use this vocabulary, follow these guidelines:</p>
            
            {# You can include examples anywhere #}
                        <div class="h3 examples" id="example1">Example 1</div>
            
        </section>
    {% endblock %} 

    {% block governance %}
        <section class="informative">
            <h2>Governance</h2>
        </section>
    {% endblock %}

    {% block customSection %}
        <section class="informative">
            <h2>Custom section - TEMPLATE_CUSTOM_2024</h2>
            <p>A custom section introduced in main template</p>
        </section>
        
        <!-- Include custom template content -->
        {% include "custom.j2" ignore missing %}
    {% endblock %}

    {% block quickReference %}
        {{ super() }}
    {% endblock %}

    {% block resources %}
        {{ super() }}
    {% endblock %}


{% endblock %}
